flask
sqlalchemy
flask-login
flask-wtf
flask-sqlalchemy
email-validator
asyncpg
psycopg2-binary
gunicorn

# flask-openapi3
pydantic
flask-swagger-ui
flask-pydantic
# flask-restful
# flask-swagger
# flasgger
